<!-- <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <ul>
        <a [routerLink]="['../addRoute']">Add Route</a>
    </ul>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
      
<button (click)="openNav()" style="margin:10px;padding:10px;"><span class="glyphicon glyphicon-th-list"></span></button>
      
<div id="main">
    ...
</div> -->

<router-outlet></router-outlet>