<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" formControlName="username"><br>
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" formControlName="password"><br>
            <label for="email">Email ID: </label>
            <input type="email" class="form-control" id="email" formControlName="email"><br>
            <label for="Contact">Contact: </label>
            <input type="number" class="form-control" id="contact" formControlName="contact"><br>
        </div>
        <div class="w-100" style="text-align: center">
            <button type="submit" class="btn btn-primary">Register</button>
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
        <div class="alert alert-danger w-100 mt-3" *ngIf="errMsg">{{errMsg}}</div>
    </form>
</div>