<div class="container">
    <table *ngIf="routes && step==0"  class="table table-hover">
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let route of routes">
            <td>{{route.a}}</td>
            <td>{{route.b}}</td>
            <td>{{route.price}}</td>
            <td><button (click)="selectRoute(route,0)" class="btn btn-primary">Select Route</button></td>
        </tr>
        <tr *ngFor="let route of routes">
            <td>{{route.b}}</td>
            <td>{{route.a}}</td>
            <td>{{route.price}}</td>
            <td><button (click)="selectRoute(route,1)" class="btn btn-primary">Select Route</button></td>
        </tr>
    </table>
    <div class="alert alert-danger w-100 mt-3" *ngIf="errMsg && step==0">{{errMsg}}</div>
</div>

<div class="container" *ngIf="step==1">
    <table *ngIf="coupons && step==1"  class="table table-hover">
        <tr>
            <th>Code</th>
            <th>Percentage Off</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let coupon of coupons">
            <td>{{coupon.code}}</td>
            <td>{{coupon.percentageOff}}</td>
            <td><button (click)="applyCoupon(coupon)" class="btn btn-primary">Apply Coupon & Proceed to Pay</button></td>
        </tr>
    </table>
    <button (click)="back()" class="btn btn-primary">Back</button>
    <button (click)="dontApplyCoupon()" class="btn btn-primary">Do not Apply Coupon & Proceed to Pay</button>
    <div class="alert alert-danger w-100 mt-3" *ngIf="errMsg">{{errMsg}}</div>
</div>

<div class="container" *ngIf="step==2">
    <h2>Confirm Details</h2>
    <h2 *ngIf="couponCodeApplied">Coupon Applied</h2>
    <h3>Route Details</h3>
    <h5>Source: {{ a }}</h5>
    <h5>Destination: {{ b }}</h5>
    <h5 *ngIf="!couponCode">Price: {{ orgPrice }}</h5>
    <h5 *ngIf="couponCode">Coupon Code Applied: {{ couponCode }}</h5>
    <h5 *ngIf="couponCode">Original Price: {{ orgPrice }}</h5>
    <h5 *ngIf="couponCode">Discounted Price: {{ finalPrice }}</h5>
    <button (click)="pay()" class="btn btn-primary">Pay & Buy Ticket</button>
    <button (click)="back()" class="btn btn-primary">Back</button>
    <div class="alert alert-danger w-100 mt-3" *ngIf="errMsg">{{errMsg}}</div>
</div>

<div class="container" *ngIf="step==3">
    <div class="alert alert-success w-100 mt-3">Payment Successful</div>
    <button (click)="close()" class="btn btn-primary">Done</button>
</div>